extends layout

block content
  
  div(class='container')
  
    h1= title
    h5 Welcome to #{title}
  
    table(class='table')
      thead
        tr
          th Name
          th Breed
          th Colour
          th Actions
      tbody    
        each dog in dogs
          tr
            td
              p #{dog.name}
            td  
              p #{dog.breed} 
            td  
              p #{dog.colour}               
            td
              form(action='/delete',method='post')
                input(type='hidden', value='#{dog._id}', name='_id' id='_id')
                input(type='submit', value='Delete', class='btn btn-danger')   
            td
              p 
                a(href='/dog/#{dog.name}' type='button' class='btn btn-success') Update              
  
    form(action='/create', method='post' class='form-horizontal')
      h3 Add Dog
      div(class='form-group')
        input(id='name', name='name', type='text', placeholder='Name')
      div(class='form-group')  
        input(id='breed', name='breed', type='text', placeholder='Breed')  
      div(class='form-group')  
        input(id='colour', name='colour', type='text', placeholder='Colour')          
      div(class='form-group')
        input(type='submit', class='btn btn-primary', value='Submit') 